.slider { z-index: 10; clear: both; position: relative; border: 1px solid #FF6633; border-width: 1px 0; }
.slider .slides { font-size: 34px; color: #fff; font-weight: lighter; margin: 0; padding: 0; list-style: none; }
.slider .slides li { background-size: cover; background-position: 50%; line-height: 40px; padding-top: 73px; height: 153px; }
.slider .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slider .flex-direction-nav a { text-indent: -9999px; display: block; position: absolute; top: 0; width: 100px; height: 100%; }
.slider .flex-direction-nav a.flex-prev { left: 0; background: url('../images/ico-slide-left.png') 50% no-repeat; }
.slider .flex-direction-nav a.flex-next { right: 0; background: url('../images/ico-slide-right.png') 50% no-repeat; }

@media screen and (max-width: 1400px) {
	.slider .flex-direction-nav a { width: 6%; } 
	.slider .contaner { margin: 0 6%; }
}
