@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 100;
  src: url('Circe-Light.eot'); /* IE9 Compat Modes */
	src: local('Circe'),
		url('fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Light.woff') format('woff'),
		url('fonts/Circe-Light.ttf') format('truetype'),
		url('fonts/Circe-Light.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 400;
  src: url('Circe-Regular.eot'); /* IE9 Compat Modes */
	src: local('Circe'),
		url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Regular.woff2') format('woff2'),
		url('fonts/Circe-Regular.woff') format('woff'),
		url('fonts/Circe-Regular.ttf') format('truetype'),
		url('fonts/Circe-Regular.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 700;
  src: url('Circe-Bold.eot'); /* IE9 Compat Modes */
	src: local('Circe'),
		url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Bold.woff') format('woff'),
		url('fonts/Circe-Bold.ttf') format('truetype'),
		url('fonts/Circe-Bold.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 900;
  src: url('Circe-ExtraBold.eot'); /* IE9 Compat Modes */
	src: local('Circe'),
		url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-ExtraBold.woff') format('woff'),
		url('fonts/Circe-ExtraBold.ttf') format('truetype'),
		url('fonts/Circe-ExtraBold.svg#svgFontName') format('svg');
}